# One name per person, however the commit was signed.
Gabriel Such <gabrielsuch@gmail.com>
Gabriel Such <gabrielsuch@gmail.com> <gsuch@thoughtworks.com>
Francis Rangel <francis.rangel@gmail.com> <francis.rangel@objective.com.br>
